<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StorageApp">
        <activity android:name=".http.HttpActivity"/>
        <activity android:name=".http2.RetrofitActivity" />
        <activity android:name=".sharedpreferences.MainActivity"/>
        <activity android:name=".file.FileInputActivity"/>
        <activity android:name=".file.FileOutputActivity"/>
        <activity android:name=".sqlite.MainActivity"/>
        <activity android:name="kr.jaen.storage.StartActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>